.logo{
    width: 10%;
    margin-left: 45%;
  }
  .register-containr {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-page{
    width: 62%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  